<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seoulapp.manifesto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/hachi_main3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KnowledgeContentActivity" />
        <activity android:name=".ManifestoRateActivity" />
        <activity android:name=".CitizenNeedWritingActivity" />
        <activity android:name=".CitizenListenContentActivity" />
        <activity android:name=".CitizenHelpContentActivity" />
        <activity android:name=".CitizenNeedContentActivity" />
        <activity android:name=".CitizenListenActivity" />
        <activity android:name=".CitizenHelpActivity" />
        <activity
            android:name=".CitizenNeedActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Rate_detail_Activity" />
        <activity android:name=".Setting" />
        <activity
            android:name=".TutorialActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2d283b6c6cdce5e070e075b853bb8daf" />

        <activity android:name=".LoginsActivity" />
        <activity android:name=".OpenSourseLicense"></activity>
    </application>

</manifest>